#
#
#      L I N E A G E   P L U S
#
# =====================================
Character Save Files
---------------------------------------
*.loc

---------------------------------------
Login Key Pictures
---------------------------------------
key/

---------------------------------------
PAKIDX
---------------------------------------
*.idx
*.pak
*.Pak

---------------------------------------
/Directories
---------------------------------------
Capture/
font/
GameGuard/
icon/
log/
map/
Reporter/
sound/
sprite/
surf/
tile/

---------------------------------------
Application
---------------------------------------
background.bmp
banner.dat
banner.jpg
banner_c.jpg
banner_e.jpg
banner_h.dat
banner_h.jpg
banner_t.jpg
blank_button.jpg
cancel.jpg
chigamec.dll
craftinfo.dat
description_korea.jpg
description_korea2.jpg
Emblem1031.dat
Eula1.txt
FindHack.des
IJL15.DLL
Info.txt
launcher.sev
launcher-j.Pak
libpng13.dll
Lin.bin
lin.log
lineage.cfg
lineage.exe
lineage.ini
LineageJP.ini
lineagemain.jpg
logo.jpg
match-j.dat
Mss32.dll
mssmp3.asi
nconfig.ini
NCSOFTMAIN.jpg
nonpvp.jpg
NPCHK.DLL
npcipher.dll
npkagt.exe
npkakl.sys
npkcmsvc.exe
npkcnt4.sys
npkcrypt.ddl
npkcrypt.sys
npkcrypt.vxd
npkcryptjni.dll
npkcusb.sys
npkpdb.dll
npkSvcUpdate.exe
npkuft64.sys
npkupd.exe
npkycryp.sys
NPPSK.DLL
NPUPDATE0.DLL
NPX.DLL
Oreans.sys
Oreans.vxd
pagenum.jpg
pvp1.jpg
pvp2.jpg
pvp3.jpg
pvp4.jpg
Readme.txt
Readme-c.txt
Readme-h.txt
Readme-k.txt
recover.jpg
RegLin.exe
restime.dat
selectserver.jpg
selectversion.jpg
serverid.dat
shade.dat
swap.bin
test.jpg
time.dat
typebut.jpg
Xprotector.sys
zlib1.dll
